@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-textarea {
  border-radius: 40px;
  min-height: 48px;
  max-height: 120px;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;         
  scrollbar-color: #a855f7 #f3f4f6; 
}


.custom-textarea::-webkit-scrollbar {
  display: none;
}

